security:
    enable_authenticator_manager: true
    role_hierarchy:
        ROLE_SONATA_CMS:
            - 'ROLE_ADMIN_PROJECT_ALL'
            - 'ROLE_ADMIN_CONTACT_MESSAGE_ALL'
        ROLE_CMS:
            - 'ROLE_USER'
            - 'ROLE_SONATA_ADMIN'
            - 'ROLE_SONATA_CMS'
        ROLE_ADMIN:
            - 'ROLE_CMS'
        ROLE_SUPER_ADMIN:
            - 'ROLE_ADMIN'
            - 'ROLE_ALLOWED_TO_SWITCH'
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            id: 'App\Security\UserProvider'
    firewalls:
        dev:
            pattern: '^/(_(profiler|wdt)|css|images|js)/'
            security: false
        admin:
            lazy: true
            pattern: '/admin(.*)'
            provider: 'app_user_provider'
            context: 'user'
#            entry_point: 'form_login'

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    access_control:
        - { path: ^/admin/login$, role: 'PUBLIC_ACCESS' }
        - { path: ^/admin/logout$, role: 'PUBLIC_ACCESS' }
        - { path: ^/admin/login_check$, role: 'PUBLIC_ACCESS' }
#        - { path: ^/admin, roles: 'ROLE_ADMIN' }
        - { path: ^/.*, role: 'PUBLIC_ACCESS' }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: 'auto'
                cost: 4
                time_cost: 3
                memory_cost: 10
        firewalls:
            admin:
                http_basic: ~
