twig:
    file_name_pattern: '*.twig'
    default_path: '%kernel.project_dir%/templates'
    paths:
        '%kernel.project_dir%/templates': 'App'
        '%kernel.project_dir%/assets/styles': 'styles'
        '%kernel.project_dir%/assets/images': 'images'
    form_themes:
        - 'bootstrap_5_layout.html.twig'
        - '@EWZRecaptcha/Form/v3/ewz_recaptcha_widget.html.twig'
        - '@SonataForm/Form/datepicker.html.twig'
        - '@FOSCKEditor/Form/ckeditor_widget.html.twig'
        - '@App/form_templates/vich_uploader_form_fields.html.twig'
        - '@App/form_templates/adapted_a2lix_translation_form.html.twig'
    globals:
        google_tag_manager_enabled: false
        google_tag_manager_api_key: '%env(string:GOOGLE_TAG_MANAGER_ACCOUNT)%'
        google_maps_api_key: '%env(string:GOOGLE_MAPS_API_KEY)%'
        project_title: '%project_web_title%'
        project_url_base: '%project_url_base%'
        enterprise_name: '%enterprise_name%'
        enterprise_email: '%mailer_destination%'
        enterprise_tin: '%enterprise_tin%'
        enterprise_phone: '%enterprise_phone%'
        enterprise_address: '%enterprise_address%'
        enterprise_zip: '%enterprise_zip%'
        enterprise_city: '%enterprise_city%'
        enterprise_state: '%enterprise_state%'
        admin_tag_version: 'v1.08.002'

when@test:
    twig:
        strict_variables: true

when@prod:
    twig:
        globals:
            google_tag_manager_enabled: true
