<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title text-info"><i class="fa fa-table"></i>&nbsp;&nbsp;{{ 'Yearly Performances' | trans }}</h3>
    </div>
    <div class="box-body no-padding">
        {{ component('all_years_performance_table') }}
    </div>
</div>
