<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title text-info"><i class="fa fa-chart-line"></i>&nbsp;&nbsp;{{ 'Results Chart' | trans }}</h3>
    </div>
    <div class="box-body">
        {{ component('last_months_invoicing_resume_chart') }}
    </div>
</div>
