<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title text-info"><i class="fa fa-table"></i>&nbsp;&nbsp;{{ 'Top Ten Customer Earnings' | trans }}</h3>
    </div>
    <div class="box-body no-padding">
        {{ component('top_ten_customer_earnings_table') }}
    </div>
</div>
