<a data-controller="pdf-button" data-action="pdf-button#clicked" data-toggle="modal" data-target="#pdf-preview-modal" data-pdf-button-attachment-value="{{ object.id }}" data-pdf-button-path-value="{{ path('admin_app_invoice_pdf', {'id': object.id}) }}" class="btn btn-sm btn-default" title="{{ 'PDF' | trans }}">
    <i class="far fa-file-pdf"></i>
</a>
