{% extends 'web/base.html.twig' %}

{% block title %}{{ 'projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block body %}
    {% include 'helpers/project_categories_navbar.html.twig' %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom">{{ 'projects' | trans | capitalize }}</h1>
                {% if projects | length == 0 %}
                    <div class="alert alert-warning mt-5 mb-0" role="alert">
                        <i class="fa-solid fa-exclamation-triangle fa-fw"></i> {{ 'Empty Project List Warning' | trans }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% if projects | length > 0 %}
                {% for project in projects %}
                    <div class="col-sm-4">
                        {% include 'helpers/project_card.html.twig' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
