imports:
    - { resource: 'admins.yaml' }

parameters:
    google_recaptcha_site_key: '%env(GOOGLE_RECAPTCHA_SITE_KEY)%'
    project_web_title: 'Laureano Arquitectura'

services:
    _defaults:
        autowire: true
        autoconfigure: true
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
    # Menus
    App\Menu\MenuBuilder:
        class: App\Menu\WebMenuBuilder
        arguments:
            - '@knp_menu.factory'
            - '@request_stack'
        tags:
            - { name: 'knp_menu.menu_builder', method: 'createMainMenu', alias: 'main' }
