// set custom variables before
$primary: #F00000;
$secondary: #59595D;

// custom settings
label.required:after {
  content: " *";
}

div.gmap {
  height: 580px;
  width: 100%;
}

// imports
@import "cookie_consent";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
